@charset "utf-8";
* {
margin: 0;
padding: 0;
}

h1 {
font-family: 'Barlow', sans-serif;
}

h2 {
font-family: 'Barlow', sans-serif;
}

p {
font-family: 'Barlow', sans-serif;

	
}

h3{
font-family: 'Barlow', "sans-serif";

}



