@charset "UTF-8";

body {
	background-color: #FFFFFF;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
}

div.container {
	color: #000000;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron {
	color: #000000;
}
